
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    padding: 20px;
    border: 1px solid;
    justify-content: space-between;
    margin: 30px 30px;
    background-color: #061770;
    border-radius: 20px;
}
.nav-img{
    display: flex;
    gap: 15px;
}
.nav-img img{
    border-radius: 50%;
    background-color: #B224EF;
}
.nav-img p{
    color: white;
    padding-top: 5px;
}

.nav-list{
    display: flex;
    gap: 20px;
}
.nav-list li{
    list-style: none;
    padding-top: 5px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
button{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #7579ff;
    color: white;
    border-color: transparent;
}
.body{
    display: flex;
    padding: 20px 50px;
}
.body1 h1{
    font-size: 85px;
}
.body1 span img{
    margin-bottom: 25px;
    margin-right: 40px;
}
.body1 p{
    margin-top: 50px;
    font-size: 14px;
}
.btn{
    padding: 10px 30px;
    margin-top: 50px;
    background-color: black;
}
.body-content{
   padding: 120px 50px;
}
.b2 h1{
    font-size: 50px;
    position: relative;
    display: inline-block;
    color: #8b3dff;
}
.b2 h1 span{
    position: absolute;
    top: -50px;
    right: -80px;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 40px;
    padding: 40px 0px;
    justify-content: center;
    align-items: center;
}
.skill-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spinner-container{
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
.spinner{
    width: 200px;
    height: 200px;
    border: 12px solid #e8ebff;
    border-top-color: #6b7cff;
    border-right-color: #6b7cff;
    border-radius: 50%;
}
.percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 28px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    color: #5a6b8c;
}
.skill-item p{
    font-size: 16px;
    color: #000; 
}
.about{
    background-color: #1b1c37;
    padding: 60px 60px;
}
.about h2{
    color: white;
    text-align: center;
    font-size: 48px;
}
.big-box{
    
}
.box{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    margin: 100px 300px;
    border: 1px solid;
    padding: 50px 50px;
    border-radius: 30px;
    background-color: white;
}

