
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    padding: 20px;
    border: 1px solid;
    justify-content: space-between;
    margin: 30px 30px;
    background-color: #061770;
    border-radius: 20px;
}
.nav-img{
    display: flex;
    gap: 15px;
}
.nav-img img{
    border-radius: 50%;
    background-color: #B224EF;
}
.nav-img p{
    color: white;
    padding-top: 5px;
}

.nav-list{
    display: flex;
    gap: 20px;
}
.nav-list li{
    list-style: none;
    padding-top: 5px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
button{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #7579ff;
    color: white;
    border-color: transparent;
}
.body{
    display: flex;
    padding: 20px 50px;
}
.body1 h1{
    font-size: 85px;
}
.body1 span img{
    margin-bottom: 25px;
    margin-right: 40px;
}
.body1 p{
    margin-top: 50px;
    font-size: 14px;
}
.btn{
    padding: 10px 30px;
    margin-top: 50px;
    background-color: black;
}
.body2{
    padding: 0 0px;
}